$inputColor: #a8d8f8;
$textColor: #0d5288;
$shadowColor: rgba(39, 39, 39, 0.3);
$yellow: #fac600;

$inputGradient: linear-gradient(
  to top,
  #8dcaf9,
  #9dd2fa,
  #add9fc,
  #bce1fd,
  #cbe8ff
);

@font-face {
  font-family: "CCZoinkss";
  src: url("../font/test2.otf");
}

@font-face {
  font-family: "CCZoinks";
  src: url("../font/test.ttf");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "CCZoinkss";
}

body {
  background-image: url("../img/bgCrash.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.effect3D {
  transform: perspective(50px) rotateX(-8deg) rotateY(-3deg) rotateZ(-3deg);
  transition: all 0.3s ease-out;
}

.effect3D:hover {
  transform: perspective(50px) rotateX(-8deg) rotateY(-3deg) rotateZ(-3deg);
  transition: all 0.3s ease-out;
}

button.btnPin {
  cursor: pointer;
  background: transparent;
  width: 20rem;
  height: 3rem;
  background: $inputGradient;
  border: none;
  margin: 20px;
  margin: 20px 20px 20px 0px;
}

button.btnPin:active {
  transform: perspective(50px) rotateX(-8deg) rotateY(-3deg) rotateZ(-3deg)
    translateX(-4px) translateY(4px);
  box-shadow: -4px 4px 0px $textColor;
}

.logs {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.shadow:hover {
  box-shadow: -8px 8px 0px $textColor;
}

.shadowPermanent {
  box-shadow: -8px 8px 0px $textColor;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .teamName {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.draftContainer {
  width: 86vw;
  margin: 0 auto 3vh auto;

  .draftContainerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 70px);
    margin: 10px auto 16px auto;

    .draftContainerTopFilters {
      align-content: left;
      display: flex;

      .filters {
        padding-left: 0;

        li {
          display: inline-block;
          padding: 4px 25px;
          margin: 0 12px 0 0;
          background-color: #fac600;
          color: $textColor;
          font-weight: 500;
          cursor: pointer;
          box-shadow: -1px 1px 3px $shadowColor;
        }

        .active {
          border: 2px solid $textColor;
          box-shadow: none;
        }
      }
    }

    .draftContainerTopSearch {
      align-items: center;
      display: flex;
      margin-right: 26px;

      .searchBar {
        width: 320px;
        border-radius: 50px;
        padding: 0px;
        background-color: #fff;
        display: flex;
        box-shadow: -1px 2px 6px $shadowColor;

        .search {
          width: calc(100% - 32px);
          border: none;
          background: none;
        }

        .searchBarIcon {
          margin: 6px 10px 0px 10px;
        }
      }
    }
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
    width: calc(100% - 50px);
    margin: 0 auto;
    height: 50vh;
  }

  .cardMapContainer {
    border: 2px solid #3366cc;
    width: 100%;
    height: 140px;
    margin: 0 10px 15px 10px;
    cursor: pointer;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .banOverlayImg {
      position: absolute;
      background-image: url("../img/bg-banned.png");
      width: 100%;
      height: 100%;
      background-size: cover;
      top: 0;
      left: 0;

      .banIcon {
        object-fit: contain;
        margin-top: 10px;
        height: 75px;
      }
    }

    .mapName {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 35px;
      background-color: rgba(0, 0, 0, 0.85);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .picked {
      background-color: rgb(69, 199, 52);
    }

    .active {
      background-color: #fac600;
    }

    .banned {
      background-color: rgb(160, 46, 46);
    }
  }
}

.topContainer {
  width: 82vw;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .borderPick {
    position: relative;
    /*TEMPO*/
    width: 140px;
    height: 80px;
    /*TEMPO*/
    margin: 0 10px 15px 10px;

    .cornerNumber {
      position: absolute;
      font-size: 12px;
      color: #fff;
    }

    .spectator {
      font-size: 18px;
    }
  }
  .blue {
    border: 2px solid #3867d6;
  }

  .red {
    border: 2px solid #d63031;
  }

  .pickContainer {
    width: 100%;
    height: auto;
    // background-color: rgb(98, 255, 255);
  }
  .spec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .corner {
    .cornerImage {
      position: absolute;
      z-index: 50;
    }
    .cornerNumber {
      color: white;
      z-index: 51;
    }
  }

  .ifPick {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mapName {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bottomContainer {
  width: 82vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .borderBan {
    margin: 0 10px 15px 10px;

    .cornerNumber {
      position: absolute;
      font-size: 12px;
      color: #fff;
    }
  }
  .blue {
    border: 2px solid #3867d6;
  }

  .red {
    border: 2px solid #d63031;
  }

  .corner {
    .cornerImage {
      position: absolute;
      z-index: 50;
    }
    .cornerNumber {
      color: white;
      z-index: 51;
    }
  }
  .banOverlay {
    width: 238px;
    height: 101px;
    position: relative;

    .sizeDiv {
      width: 100%;
      height: 100%;
    }

    .banOverlayImg {
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../img/bg-banned.png");
      width: 100%;
      height: 100%;
      max-height: 101px;
      background-size: cover;
      object-fit: cover;

      .banIcon {
        object-fit: contain;
        height: 60px;
        margin-top: 6px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .mapName {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 25px;
      background-color: rgba(0, 0, 0, 0.85);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .soundContainer {
    width: 200px;
    height: 136px;
  }

  .banContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.timer {
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: 60;
  height: 37px;
  width: 255px;
  transform: translate(-50%);

  .timerTxt {
    color: white;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    font-size: 30px;
  }
}

.lockBtn {
  background-color: $inputColor;
  border-radius: 25px;
  border: none;
  color: $textColor;
  font-size: 20px;
  font-weight: 500;
  width: 258px;
  height: 60px;
}

// Page Join
.roomInputContainer {
  .teamJoinSelect {
    margin: 20px;
    justify-content: center;
    background-color: $inputColor;
    border: none;
    text-align: center;
    width: calc(15% + 25px);
    min-width: 400px;
    height: 3rem;
    color: $textColor;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

    &:active {
      box-shadow: -2px 3px 0px $textColor;
      transform: perspective(50px) translateX(-4px) translateY(4px);
    }
  }
  .active {
    background-color: $yellow;
  }

  .full {
    background-color: rgb(255, 187, 187);
  }

  label {
    color: rgb(255, 187, 187);
  }
}

.teamNext {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: $inputColor;
  // width: calc(100px + 15%);
  // min-width: 300px;
  width: 150px;
  height: 3rem;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  color: $textColor;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.2s ease-out;

  &:hover {
    box-shadow: -6px 6px 0px $textColor;
    transition: all 0.2s ease-out;
  }
}

// Page Main

.txtInput {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-60%, -50%);
  color: $textColor;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.inviNone {
  display: none;
  position: absolute;
  left: 25%;
  top: 100%;
  background: none;
  border: none;
  width: 200px;
  height: 30px;
  background-color: $textColor;
}

.invi {
  background: none;
  display: block;
  border: none;
  width: 200px;
  height: 30px;
  background-color: $textColor;
  position: absolute;
  left: 25%;
  top: 100%;
  color: white;
  animation: popIn 0.5s;
  // transition: all 1s ease-out;
  // transform: translate(-50%, -160%);
}

@keyframes popIn {
  0% {
    height: 0;
  }

  100% {
    height: 30px;
  }
}

// Page room

.roomContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    color: $yellow;
  }
  .pin {
    position: absolute;
    top: 15px;
    left: 20px;
    padding: 10px 5px;
    height: 3rem;
    min-width: 125px;
    background-color: $inputColor;
    border: none;

    box-shadow: -8px 8px 0px $textColor;
    color: $textColor;
    font-weight: bold;
    font-size: 20px;
  }

  .roomInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .teamInputSelect {
      margin: 20px;
      justify-content: center;
      background-color: $inputColor;
      border: none;
      text-align: center;
      width: calc(20% + 25px);
      min-width: 400px;
      height: 3rem;
      color: $textColor;
      font-weight: bold;
      font-size: 20px;
    }

    ::placeholder {
      color: $textColor;
    }

    // .teamSelect {
    //   display: flex;
    //   width: calc(100px + 15%);
    //   min-width: 300px;
    //   height: 3rem;
    //   margin-bottom: 7vh;
    //   background-color: $inputColor;
    //   color: $textColor;
    //   border: none;
    //   font-weight: bold;
    //   font-size: 20px;
    // }
  }
}

.startLockBtn {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: $inputColor;
  width: calc(100px + 15%);
  height: 3rem;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  color: $textColor;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.2s ease-out;

  &:hover {
    box-shadow: -6px 6px 0px $textColor;
    transition: all 0.2s ease-out;
  }

  &:active {
    transform: translate(-3px, 3px);
    box-shadow: -3px 3px 0px $textColor;
    transition: all 0.1s ease-out;
  }
}

// Page spectator

.specContainer {
  .topContainer {
    width: 82vw;
    .borderPick {
      width: 240px;
      height: 137px;
    }
  }
  .mapName {
    height: 35px;
  }
  .specCategoryName {
    display: flex;
    p {
      font-size: 25px;
      font-weight: bold;
      color: $yellow;
      margin: 10px auto;
    }
  }
}

.specHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
// scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $yellow;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: $textColor;
}

// Responsive
// .wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   align-content: flex-start;
//   overflow-y: auto;
//   width: calc(100% - 50px);
//   margin: 0 auto;
//   height: 50vh;
// }
@media (max-width: 1050px) {
  .draftContainer .draftContainerTop {
    display: flex;
    flex-direction: column;
    .draftContainerTopFilters .filters li {
      padding: 4px calc(5px + 4vw);
    }
    .draftContainerTopSearch {
      margin-right: 0;
      .searchBar {
        width: 100%;
      }
    }
  }
}
@media (max-width: 783px) {
  .roomContainer .roomInputContainer .teamInputSelect {
    min-width: calc(240px + 10vw);
  }
  .roomInputContainer .teamJoinSelect {
    min-width: calc(240px + 10vw);
  }
  .effect3D {
    transform: perspective(8vh) rotateX(-8deg) rotateY(-3deg) rotateZ(-3deg);
  }
  button.btnPin {
    width: calc(220px + 10vw);
    margin: 20px 20px 20px -10px;
  }
  .draftContainer {
    width: 100vw;
    .draftContainerTop {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: 500px) {
  .draftContainer .cardMapContainer {
    width: calc(50% - 29px);
  }
}

@media (min-width: 850px) {
  .draftContainer .cardMapContainer {
    width: calc(33.33% - 26px);
  }
}

@media (min-width: 992px) {
  .draftContainer .cardMapContainer {
    width: calc(25% - 24px);
  }
}

@media (min-width: 1200px) {
  .draftContainer .cardMapContainer {
    width: calc(20% - 23px);
  }
}

@media (min-width: 1400px) {
  .draftContainer .cardMapContainer {
    width: calc(16.66% - 22.5px);
  }
}
