$inputColor: #a8d8f8;
$textColor: #0d5288;
$shadowColor: rgba(39, 39, 39, 0.3);

$inputGradient: linear-gradient(
  to top,
  #8dcaf9,
  #9dd2fa,
  #add9fc,
  #bce1fd,
  #cbe8ff
);

@font-face {
  font-family: "GROBOLD";
  src: url(../font/GROBOLD.ttf);
}
@font-face {
  font-family: "HeroesLegend";
  src: url(../font/HeroesLegend.ttf);
}
@font-face {
  font-family: "HeroesLegendHollow";
  src: url(../font/HeroesLegendHollow.ttf);
}
@font-face {
  font-family: "SpaceComics";
  src: url(../font/SpaceComics.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background-image: url("../img/bgCrash.png");
}

.effect3D {
  transform: perspective(50px) rotateX(-8deg) rotateY(-3deg) rotateZ(-3deg);
}
.effect3D:hover {
  transform: perspective(50px) rotateX(-8deg) rotateY(-3deg) rotateZ(-3deg);
}
button.btnPin {
  cursor: pointer;
  background: transparent;
  width: 20rem;
  height: 3rem;
  background: $inputGradient;
  border: none;
  margin: 20px;
}
.shadow:hover {
  box-shadow: -8px 8px 0px $textColor;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.draftContainer {
  width: 86vw;
  margin: 40px auto 60px auto;
  background: #ececec48;

  .draftContainerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 8px auto;

    .draftContainerTopFilters {
      align-content: left;
      .filters {
        padding-left: 0;
        margin-top: 8px;
        li {
          display: inline-block;
          padding: 7px 30px;
          background-color: #fac600;
          color: #0d5288;
          font-weight: 500;
          cursor: pointer;
          box-shadow: -1px 1px 3px $shadowColor;
        }
        .active {
          border: 2px solid #0d5288;
          box-shadow: none;
        }
      }
    }
    .draftContainerTopSearch {
      align-items: center;
      display: flex;
      margin-top: 8px;
      .searchBar {
        width: 320px;
        border-radius: 50px;
        padding: 0px;
        background-color: #fff;
        display: flex;
        box-shadow: -1px 2px 6px $shadowColor;
        .search {
          width: calc(100% - 32px);
          padding: 10px 10px 10px 5px;
          border: none;
          background: none;
        }
        .searchBarIcon {
          margin: auto 5px;
        }
      }
    }
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    width: calc(100% - 50px);
    margin: 0 auto;
    height: 50vh;

    /* Temporaire */
    border: 1px solid white;
  }
  .card {
    border: 2px solid #3366cc;
    width: 280px;
    height: 168px;
    margin: 5px 10px 15px 10px;
    cursor: pointer;
    .mapName {
      width: 100%;
      height: 50px;
      background-color: black;
      color: white;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.timer {
  position: absolute;
  top: -60px;
  left: -90px;
  .timerTxt {
    color: white;
    position: absolute;
    top: 80px;
    left: 150px;
  }
}
.txtInput {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-60%, -50%);
  color: $textColor;
  font-size: 20px;
}
.invi:focus {
  background: none;
  border: none;
  width: 200px;
  height: 30px;
  background-color: #0d5288;
  position: absolute;
  left: 50%;
  top: 200%;
  transform: translate(-50%, -160%);
}
